.btn-mr{
    margin-right: 10px;
}
.btn-ml{
    margin-left: 10px;
}
.module-card{
    background-color: #fff;
    border-radius: 15px;
    color: black;
    display: flex;
    width: 9rem !important;
    height: 9rem !important;
    justify-content: center;
    align-items: center;
}
.module-card:hover{
    cursor: pointer;
    width:8.8rem !important;
    height:8.8rem !important;
}
.custom-table .ant-table-tbody > tr > td {
    height: 30px; /* Set your desired row height here */
  }